@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');



.form-imagem{
    width: 350px;
    border-radius: 50%;
}

h2 {
    font-family: 'Merienda', cursive;
    color: lightcoral;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.btn[type="submit"] {
    background-color: lightcoral;
    color: #FFF;
    transition: all .5s ease-in-out;
}

.btn[type="submit"]:hover {
    background-color: #e64343;
    color: #FFF;
}

.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content1 {
    padding: 10px;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 450px;
}

/* Add Animation - Zoom in the Modal */
.modal-content1{
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    top: 15px;
    right: 35px;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #7e7d7d;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .form-imagem {
        width: 250px;
    }
}